<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../abas-dashboard-state/abas-dashboard-state-meta.html">
<link rel="import" href="abas-selector-widget-settings.html">

<dom-module id="abas-selector-widget">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<abas-dashboard-state-meta user-info={{_userInfo}}></abas-dashboard-state-meta>

		<style include="abas-widget-style">
			:host {
				display: block;
				background: var(--abas-black-800);
			}

			[slot="content"] {
				cursor: auto;
			}

			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				position: absolute;
				left: 0;
				right: 0;
				padding: 0 8px;
				top: 0;
				bottom: 0;
				height: 33px;
				margin: auto;
			}

			abas-inplace-header ~ .flex-container-horizontal {
				top: 40px;
			}

			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				max-width: 600px;
				flex-basis: auto;
			}

			#presetCheckbox {
				padding: 4px 0 16px 0;
			}
		</style>

		<aba-widget title="">
			<div id="content" slot="content">
				<template is="dom-if" if="[[_hasTitle(widgetTitle, enoughSpace)]]" restamp="true">
					<abas-inplace-header title="[[widgetTitle]]"><span>[[widgetTitle]]</span></abas-inplace-header>
				</template>
				<div class="flex-container-horizontal">
					<div class="flex-item" title="">
						<ui-auto-complete id="dropdown"
							placeholder="[[widgetTitle]]"
							items="[[_dataList]]"
							selected-item="[[selectedDataset]]"
							actual-value="{{inputValue}}"
							on-item-select="_selectEntry"
							no-side-button="[[_noSideButton]]">
						</ui-auto-complete>
					</div>
					<template is="dom-if" if="[[_showDeleteButton]]">
						<div class="deselectIcon" title="[[localize('selection.deselect')]]">
							<abas-function-button icon="times" on-tap="_deselectEntry"></abas-function-button>
						</div>
					</template>
				</div>
			</div>

			<template is="dom-if" if="[[editMode]]">
				<div slot="settingsForm">
					<abas-selector-widget-settings
						id="[[id]]"
						company="{{_settings.company}}"
						widget-title={{_settings.widgetTitle}}
						database="{{_settings.database}}"
						message-channel={{_settings.messageChannel}}>
					</abas-selector-widget-settings>
				</div>
			</template>
		</aba-widget>
	</template>

	<script>
		class AbasSelectorWidget extends abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element)) {
			constructor() {
				super();
				this.initialized = false;
				this.messageChannel = "default";
				// this.database = { tableSpec: '0:1' };
				this.inputValue = "";
				this._showDeleteButton = false;
				this._noSideButton = false;
				this.enoughSpace = true;
				//load translation
				this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
				//bindings
				this._boundApplySettings = this._applySettings.bind(this);
				this._boundRevertSettings = this._preserveSettings.bind(this);
				this._boundResize = this._checkSpaceForTitle.bind(this);
			}

			static get is() { return 'abas-selector-widget' }
			static get properties() {
				return {
					company: { type: Object }, /* don't set value because of Behavior! */
					widgetTitle: { type: String },
					database: { type: Object },
					messageChannel: { type: String },
					selectedDataset: { type: Object },
					inputValue: { type: String },
					context: { type: Object },
					_dataList: { type: Array },
					_noSideButton: { type: Boolean },
					_showDeleteButton: { type: Boolean },
					_fetchDataParams: { type: Object },
					_fetchURLString: { type: String },
					presetEmployee: { type: Boolean }
				};
			}

			static get observers() {
				return [
					'computedProperties(_configuration.api.erpBaseURL, company.href, database, _userInfo)',
					'_subscribe(database)',
					'_selectedDatasetChanged(selectedDataset)',
					'fetchData(_fetchURLString, inputValue)',
					'fetchDataByContext(_fetchURLString, context)',
				]
			}

			//Add UI Listeners
			connectedCallback() {
				super.connectedCallback();
				// Copy settings into property _settings
				this._preserveSettings();

				this.addEventListener('settings-apply', this._boundApplySettings);
				this.addEventListener('settings-closed', this._boundRevertSettings);
				window.addEventListener('resize', this._boundResize);
				this._checkSpaceForTitle();
			}

			disconnectedCallback() {
				super.disconnectedCallback();
				this.removeEventListener('settings-apply', this._boundApplySettings);
				this.removeEventListener('settings-closed', this._boundRevertSettings);
				window.removeEventListener('resize', this._boundResize);
			}

			/**
			 * Events
			 * @param {Event} event Combobox event
			 * @return {void}
			 */
			 _selectEntry(event) {
				this.set("selectedDataset", event.detail);
			}

			_deselectEntry(event) {
				this.set('selectedDataset', {});
			}

			/**
			 * computed properties
			 *  - _fetchURLString
			 *  - special case Employee: set context
			 * @param {String} erpBaseURL erpBaseURL
			 * @param {String} companyHref companyHref
			 * @param {Object} database database
			 * @param {Object} userInfo userInfo
			 */
			computedProperties(erpBaseURL, companyHref, database, userInfo) {
				if (_.isEmpty(erpBaseURL) || _.isEmpty(companyHref) || _.isEmpty(_.get(database, 'tableSpec','')) || _.isEmpty(userInfo)) {
					return;
				}

				// legacy
				if (this.database.tableSpec === "11:1" && !_.isUndefined(this.presetEmployee)) {
					this.database.presetEmployee = this.presetEmployee;
					this._preserveSettings();
				}

				// FIRST! -> employee: context
				if (this.database.tableSpec === "11:1" && this.database.presetEmployee) {
					this._setContextForEmployee(companyHref, userInfo);
				}

				// _fetchURLString
				this._computeFetchURLString(erpBaseURL, companyHref, database.tableSpec)
			}

			_setContextForEmployee(companyHref, userInfo) {
				let valForClient = _.find(userInfo, function (o) {
					return o.client.href === companyHref;
				})
				if (valForClient) {
					let employeeContext = {
						tableSpec: "11:1",
						value: { id: valForClient.data.employee.value }
					}
					if (!this.context) {
						let context = Object.assign({}, this.context, employeeContext);
						this.set("context", context);
						return;
					}

					// publish it
					// this.$.dropdown.dispatchEvent(new CustomEvent('item-select', {
					//	 detail: employeeContext.value,
					//	 bubbles: true,
					//	 cancelable: true
					// }));
				}
			}

			_computeFetchURLString(erpBaseURL, companyHref, databaseTableSpec) {
				const fetchURL = `${erpBaseURL}${companyHref}/obj/data/${databaseTableSpec}`;
				if (fetchURL === this._fetchURLString) {
					return;
				}
				this.set("_fetchURLString", fetchURL);
			}

			/**
			 * Message Bus - Incoming messages
			 *
			 * channel: 'default' - url params 'context=' are sent to "default" channel
			 * @param {Object} database database
			 */
			_subscribe(database) {
				if (!database) return;
				this.unsubscribeTopics();
				this.subscribeTopics({
					channel: 'default',
					topics: [database.tableSpec],
					handler: (data, envelope) => {
						// return if it's my own message
						if (_.get(envelope, 'headers.sender', '') === this.id) return;
						let context = {
							tableSpec: database.tableSpec,
							value: data
						}
						this.set("context", context);
					}
				});
			}

			/**
			 * Message Bus - Outgoing messages
			 *
			 * channel: 'default' - url params 'context=' are sent to "default" channel
			 * @param {Object} selectedDataset database the user selected
			 */
			_publish(selectedDataset) {
				// we want that id, nummer, such are always there
				let dataToSend = Object.assign({}, selectedDataset, {
					id: _.get(selectedDataset, 'id', ''),
					nummer: _.get(selectedDataset, 'nummer', ''),
					such: _.get(selectedDataset, 'such', '')
				})
				// console.log("publish", { topic: this.database.tableSpec, data: dataToSend });
				this.publishTopic({
					topic: this.database.tableSpec,
					data: dataToSend,
					channel: this.messageChannel
				});
			}

			/**
			 * Observers
			 * > Dropdown entry selected
			 * @param {Object} selectedDataset database the user selected
			 */
			_selectedDatasetChanged(selectedDataset) {
				this._showOrHideDropdownButtons(selectedDataset);
				this._publish(selectedDataset);
			}

			/**
			 * Observers
			 * > fetchDataByContext
			 * sets selectedDataset
			 * @param {String} fetchURL URL for middleware request
			 * @param {Object} context context got via URL
			 */
			fetchDataByContext(fetchURL, context) {
				if (_.isEmpty(fetchURL) || _.isEmpty(context)) {
					return;
				}
				// only do it one time
				if (this.initialized) return;
				this.initialized = true;

				let tmp = {
					fetchURL: fetchURL,
					context: context
				}
				if (tmp.fetchURL !== _.get(this._fetchDataParams, 'fetchURL') ||
					tmp.context.value.id !== _.get(this._fetchDataParams, 'context.value.id', '') ||
					tmp.context.value.nummer !== _.get(this._fetchDataParams, 'context.value.nummer', '')) {
					this._fetchDataParams = Object.assign({}, tmp);
				} else {
					return;
				}

				// just in case we already loaded data:
				// look if context is in current loaded list and if so, select it
				if (!_.isEmpty(this._dataList)) {
					let foundContext = _.find(this._dataList, function (o) {
						return o.id === context.value.id || o.nummer === context.value.nummer;
					});
					if (foundContext) {
						this.set('selectedDataset', foundContext);
						return;
					}
				}

				// set criteria
				let criteria = "";
				if (!_.isEmpty(context.value.nummer)) {
					// fetchDataByIdentnumber
					criteria = `nummer=${context.value.nummer}`;
				} else {
					// fetchDataByRecordId
					criteria = `id=${context.value.id}`;
				}
				// if you don't have criteria, do nothing
				if (_.isEmpty(criteria)) {
					console.log("Couldn't evaluate valid criteria", context.value);
					return;
				}

				this._fetchFirstSixDataEntries(fetchURL, criteria)
				.then(data => {
					this._setDataList(data);
					this.set('selectedDataset', data[0]);
				}).catch(e => {
					console.log(e);
				})
			}

			/**
			 * Observers
			 * > fetchData
			 * sets _dataList
			 * @param {String} fetchURL URL for middleware request
			 * @param {String} inputValue input field text
			 */
			fetchData(fetchURL, inputValue) {
				if (_.isEmpty(fetchURL)) {
					return;
				}
				// inputValue shall always be defined
				inputValue = _.isUndefined(inputValue) ? "" : inputValue;
				// no new search if just selected something from the list
				if (this._dataList && _.find(this._dataList, { title: inputValue })) {
					return;
				}
				// only search if 3 or more chars are given
				if (inputValue.length > 0 && inputValue.length < 3) {
					this.set('_dataList', [this._getInputSubheaderInAutocomplete()]);
					return;
				}

				// don't request the same stuff over and over again
				let tmp = {
					fetchURL: fetchURL,
					inputValue: inputValue
				}
				if (tmp.fetchURL !== _.get(this._fetchDataParams, 'fetchURL') ||
					tmp.inputValue !== _.get(this._fetchDataParams, 'inputValue')) {
					this._fetchDataParams = Object.assign({}, tmp);
				} else {
					return;
				}

				// wait for user to stop typing
				this._debouncedSearch = Polymer.Debouncer.debounce(
					this._debouncedSearch,
					Polymer.Async.timeOut.after(500),
					() => {
						const criteria = `@ablage=(Active);nummer~/==${inputValue};such~/==${inputValue};sucherw~/==${inputValue};@verknuepfung=(Or)`;

						this._fetchFirstSixDataEntries(fetchURL, criteria)
						.then((data) => {
							this._setDataList(data);
						}).catch(e => {
							console.log(e);
						})
					}
				);

			}

			/**
			 * _fetchFirstSixDataEntries
			 * actual function which fetches the data
			 * @param {String} fetchURLString URL for middleware request
			 * @param {String} criteria input field text
			 * @return {Array} data
			 */
			async _fetchFirstSixDataEntries(fetchURLString, criteria) {
				if (_.isEmpty(fetchURLString) || _.isEmpty(criteria)) {
					return [];
				}

				const fetchURL = new URL(fetchURLString);
				const fetchSearchParams = fetchURL.searchParams;
				fetchSearchParams.set('limit', '6');
				fetchSearchParams.set('criteria', criteria);
				fetchSearchParams.set('headFields', ['id', 'nummer', 'such', 'sucherw'].join(','));
				const headers = new Headers();
				headers.set('accept', 'application/abas.objects.simple+json');

				return auth0Fetch(fetchURL.toString(), {
					headers: headers
				}).then((resp) => {
					if (resp.ok) {
						return resp.json();
					}
					throw new Error(`This ain't work. Requesting middleware failed.`)
				}).then((mwResponse) => {
					let result = _.get(mwResponse, 'erpDataObjects', []);
					return result.map((erpObject) => {
						return {
							id: _.get(erpObject, 'head.id'),
							nummer: _.get(erpObject, 'head.nummer'),
							such: _.get(erpObject, 'head.such'),
							sucherw: _.get(erpObject, 'head.sucherw'),
							// for the element to display:
							title: _.get(erpObject, 'head.nummer') + '  ' + _.get(erpObject, 'head.sucherw'),
							description: _.get(erpObject, 'head.such')
						}
					});
				}).catch(e => {
					console.log(e);
					return [];
				});
			}

			_setDataList(data) {
				// process data according to length of result
				if (_.isEmpty(data) || (data.length < 6)) {
					this.set('_dataList', data);
				} else {
					// we fetch 6 values to see if there are more than 5 and if true, we pop the last one
					data.pop();
					// add a subheader to make clear that there are more values than 5
					this.set('_dataList', _.concat(data, this._getSubheaderInAutocomplete()));
				}
			}

			/**
			 * UI stuff
			 */

			_hasTitle(widgetTitle, enoughSpace) {
				return enoughSpace && widgetTitle != undefined && widgetTitle.length > 0;
			}

			_showOrHideDropdownButtons(selectedDataset) {
				this.set('_noSideButton', !_.isEmpty(selectedDataset));
				this.set('_showDeleteButton', !_.isEmpty(selectedDataset));
			}

			_getSubheaderInAutocomplete() {
				let title = (typeof this.localize == 'function') ?
					this.localize('autocomplete.subheader.title') : "Type for more results";
				let subheaderElement = {
					title: title,
					itemType: "header"
				}
				return subheaderElement;
			}

			_getInputSubheaderInAutocomplete() {
				let title = (typeof this.localize == 'function') ?
					this.localize('autocomplete.subheader.minLength') : "At least 3 characters are needed.";
				let subheaderElement = {
					title: title,
					itemType: "header"
				}
				return subheaderElement;
			}

			_checkSpaceForTitle(){
				if(_.isUndefined(this.widgetTitle)) return;
				//get whole widget height and check if header and selector fit in
				const widgetHeight = this.widgetHeight;
				const headerHeight = _.isEmpty(this.widgetTitle) ? 0 : 36;
				const selectorHeight = 40;
				const enoughSpace = widgetHeight - headerHeight - selectorHeight < 0 ? false : true;
				this.set('enoughSpace', enoughSpace);
			}

			/**
			 * Settings
			 */

			_preserveSettings() {
				let settings = _.cloneDeep({
					widgetTitle: this.widgetTitle,
					company: this.company,
					database: this.database,
					messageChannel: this.messageChannel
				});
				this.set("_settings", settings);
			}

			_applySettings() {
				let propsToFire = [];
				for (let property in this._settings) {
					// "company" is trimmed and saved automatically
					if (property != "company") {
						propsToFire.push({
							name: property,
							value: this._settings[property]
						});
					}
					this.set(property, _.cloneDeep(this._settings[property]))
				}
				this.fireAttributesUpdate(propsToFire);
				this._checkSpaceForTitle();
			}
		}
		customElements.define(AbasSelectorWidget.is, AbasSelectorWidget);
	</script>
</dom-module>