<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<dom-module id="abas-selector-widget-settings">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>

		<style include="abas-widget-style">
			:host {
				display: block;
				background: var(--abas-black-800);
			}

			[slot="content"] {
				cursor: auto;
			}

			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
			}

			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				max-width: 600px;
				flex-basis: auto;
			}

			#presetCheckbox {
				padding: 4px 0 16px 0;
			}
		</style>

		<div slot="general">
			<ui-text-field label="[[localize('settings.title')]]" text="{{widgetTitle}}"></ui-text-field>
			<ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
			<ui-text-field label="[[localize('settings.communication.messagebus')]]" text="{{messageChannel}}"></ui-text-field>
			<ui-auto-complete
				label="[[localize('settings.database')]]"
				placeholder="[[localize('settings.database')]]"
				items="[[_databaseList]]"
				selected-item="{{database}}"
				on-item-select="_databaseChanged">
			</ui-auto-complete>
			<template is="dom-if" if="[[dbIsEmployee(database)]]">
				<div id="presetCheckbox">
					<ui-checkbox item-checked="{{database.presetEmployee}}" label="[[localize('settings.checkbox.presetOwnEmployee')]]"></ui-checkbox>
				</div>
			</template>
		</div>
	</template>

	<script>
		class AbasSelectorWidgetSettings extends ABAS.AttributesBehavior(abasWidgets.CompanySettingsBehavior(
			Polymer.AbasLocalizeMixin(Polymer.Element))) {
			constructor() {
				super();
			}

			static get is() { return 'abas-selector-widget-settings' }
			static get properties() {
				return {
					company: { type: Object, notify: true }, /* don't set value because of Behavior! */
					widgetTitle : { type: String, value: '', notify: true },
					database: { type: Object, notify: true },
					messageChannel: { type: String, value: 'default', notify: true }
				};
			}

			static get observers() {
				return [
					'_initialize(_configuration, company.href)', // _databaseList, database
					'_selectedDatasetChanged(selectedDataset)'
				]
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			async _initialize(configuration, companyHref) {
				if (!configuration || !companyHref) return;
				return abasWidgets.API.fetchDatabases({
					erpBaseUrl: _.get(configuration, 'api.erpBaseURL'),
					companyHref: companyHref
				}).then((result) => {
					return result.map((erpObject) => {
						return {
							tableSpec: _.get(erpObject, 'tableSpec'),
							// for the element to display:
							title: _.get(erpObject, 'title'),
							description: _.get(erpObject, 'description')
						}
					});
				}).then((dbList) => {
					this.set('_databaseList', dbList);
					// set the value of the input field
					if (this.database) {
						let db = Object.assign({}, this.database, _.find(dbList, { 'tableSpec': this.database.tableSpec }));
						// update database object on reload (language things etc)
						this.set('database', db);
					}
				}).catch(e => {
					console.log(e);
				})
			}

			// ui-auto-complete: on-item-select functions
			async _databaseChanged(event) {
				let newDatabase = event.detail;
				if (_.isEmpty(this.widgetTitle)){
					this.set('widgetTitle', newDatabase.description);
				}
			}

			dbIsEmployee(database) {
				return database.tableSpec == "11:1" ? true : false;
			}

		}
		customElements.define(AbasSelectorWidgetSettings.is, AbasSelectorWidgetSettings);
	</script>
</dom-module>